<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>我的银行卡</title>
<link href="../AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet"
	type="text/css">
<link href="../AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet"
	type="text/css">

<link href="../css/personal.css" rel="stylesheet" type="text/css">
<script src="../AmazeUI-2.4.2/assets/js/jquery.min.js"
	type="text/javascript"></script>
</head>
<body>
	<div th:replace="header::header"></div>
	<div class="nav-table">
		<div class="long-title">
			<span class="all-goods">全部分类</span>
		</div>
	</div>
	<b class="line"></b>

	<div class="center">
		<div class="col-main">
			<div class="main-wrap">
				<!--标题 -->
				<div class="am-cf am-padding">
					<div class="am-fl am-cf">
						<strong class="am-text-danger am-text-lg">我的银行卡</strong> / <small>My&nbsp;Credit&nbsp;Card</small>
					</div>
				</div>
				<hr />
				<div class="card-box-list">
					<ul>
						<li th:each="card:${cardlist}">
							<div class="card-box">
								<div class="card-box-name">
									<span class="bank-logo"><a href="#"><img src="../images/bankjh.png"></a></span>
									<span title="中国建设银行" class="bank-name" th:text="${card.bankName}">中国建设银行</span> 
									<span class="bank-num4" th:text="'尾号'+${card.cardNumber.substring(15)}">尾号9098</span>
									<span class="card-type card-type-CC"></span>
								</div>
								<div class="card-box-express">
									<div class="express-status">
										<span class="asset-icon asset-icon-express-s"></span> <span>已开通</span>
									</div>
									<div class="express-else">
										<a class="delete" th:value="${card.id}">解绑</a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="add-card">
								<a th:href="@{/to_addcard}" ><i class="am-icon-plus"></i>添加银行卡</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div th:replace="infomenu::infomenu"></div>
	</div>
	<div th:replace="footer::footer"></div>
	<script type="text/javascript">
	
	$(".delete").on("click",function(){
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
			var id=$(this).attr("value");
			var a=$(this);
			$.ajax({
				url:"http://localhost:8081/user/deleteCard",
				type:"post",
				headers:{header:token},
				data:{"id":id},
				beforeSend:function(xhr) {
		                xhr.setRequestHeader(header,token);
		            },
				success:function(data){
					alert(data);
					a.parent().parent().parent().parent().remove();
				}
			});
		})
	</script>
</body>
</html>