<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>主页面</title>
<link href="../AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet"
	type="text/css" />
<link href="../AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet"
	type="text/css" />

<link href="../basic/css/demo.css" rel="stylesheet" type="text/css" />

<link href="../css/hmstyle.css" rel="stylesheet" type="text/css" />
<script src="../AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
<script src="../AmazeUI-2.4.2/assets/js/amazeui.min.js"></script>
<style type="text/css">
</style>
</head>
<body>
	<div th:replace="header::header"></div>
	<b class="line"></b>
	<div class="shopNav">
		<div class="slideall" style="height: auto;">

			<div class="long-title">
				<span class="all-goods">全部分类</span>
			</div>

			<div class="bannerTwo">
				<!--轮播 -->
				<div class="am-slider am-slider-default scoll" data-am-flexslider
					id="demo-slider-0">
					<ul class="am-slides">
						<li class="banner1"><a href="introduction.html"><img
								src="../images/ad5.jpg" /></a></li>
						<li class="banner2"><a><img src="../images/ad6.jpg" /></a></li>
						<li class="banner3"><a><img src="../images/ad7.jpg" /></a></li>
						<li class="banner4"><a><img src="../images/ad8.jpg" /></a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>

			<!--侧边导航 -->
			<div id="nav" class="navfull" style="position: static;">
				<div class="area clearfix">
					<div class="category-content" id="guide_2">

						<div class="category" style="box-shadow: none; margin-top: 2px;">
							<ul class="category-list navTwo" id="js_climit_li" th:each="entry:${hashMap1}">
								<li>
									<div class="category-info">
										<h3 class="category-name b-category-name">
											<i><img th:src="@{/images/cookies.png}"></i><a
												class="ml-22" title="点心" th:text="${entry.key.typeName}">点心/蛋糕</a>
										</h3>
										<em>&gt;</em>
									</div>
									<div class="menu-item menu-in top">
										<div class="area-in">
											<div class="area-bg">
												<div class="menu-srot">
													<div class="sort-side">
														<dl class="dl-sort">
															<dt>
																<span title="蛋糕">种类</span>
															</dt>
															<dd th:each="smallType:${entry.value}">
																<a title="" th:href="@{/home/find(name=${smallType.getTypeName()},pageNo=0)}">
																	<span th:text="${smallType.getTypeName()}">蒸蛋糕</span>
																</a>
															</dd>
														</dl>
													</div>
												</div>
											</div>
										</div>
									</div> <b class="arrow"></b>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
			<!--导航 -->
			<script type="text/javascript">
				
				(function() {
					$('.am-slider').flexslider();
				});
				$(document)
						.ready(
								function() {
									$("li")
											.hover(
													function() {
														$(
																".category-content .category-list li.first .menu-in")
																.css("display",
																		"none");
														$(
																".category-content .category-list li.first")
																.removeClass(
																		"hover");
														$(this).addClass(
																"hover");
														$(this)
																.children(
																		"div.menu-in")
																.css("display",
																		"block")
													},
													function() {
														$(this).removeClass(
																"hover")
														$(this).children(
																"div.menu-in")
																.css("display",
																		"none")
													});
								})
			</script>
			<!--走马灯 -->

			<div class="marqueenTwo">
				<span class="marqueen-title"><i class="am-icon-volume-up am-icon-fw"></i>商城介绍</span>
				<div class="demo">
					<ul>
						<li class="title-first" style="text-align:center;"><span style="color:#000;">品牌使命和愿景</span></li>
						<li class="title-first" style="text-align:center;"><h2 style="color:#000;">让妈妈成为最好的妈妈</h2></li>
						<li style="text-align:center;"><span style="color:#000;">品牌宣言</span></li>
						<li style="text-align:center;"><span style="color:#000;">妈妈的世界 只有妈妈懂</span></a></li>
						<li style="text-align:center;"><span style="color:#000;">品牌价值观</span></a></li>
						<li style="text-align:center;"><span style="color:#000;">安全，可靠，同爱，共建</span></li>
						<li style="text-align:center;"><span style="color:#000;">信任，共享，相托，友情</span></li>

					</ul>

				</div>
			</div>
			<div class="clear"></div>

		</div>



		<script type="text/javascript">
			if ($(window).width() < 640) {
				function autoScroll(obj) {
					$(obj).find("ul").animate({
						marginTop : "-39px"
					}, 500, function() {
						$(this).css({
							marginTop : "0px"
						}).find("li:first").appendTo(this);
					})
				}
				$(function() {
					setInterval('autoScroll(".demo")', 3000);
				})
			}
		</script>
	</div>
	<div class="shopMainbg">
		<div class="shopMain" id="shopmain">
			<div class="clear "></div>
			<div class="f1" th:each="entry1:${hashMap2}">
				<!--甜点-->
				<div class="am-container ">
					<div class="shopTitle ">
						<h4 class="floor-title" th:text="${entry1.key.typeName}">甜品</h4>
						<div class="floor-subtitle">
							<!-- <em class="am-icon-caret-left"></em> -->
							<h3 th:text="${entry1.key.detail}">每一个妈妈都值得被呵护</h3>
						</div>
						<!-- <div class="today-brands " style="right: 0px; top: 13px;">
							<a href="# " th:each="smallType:${entry.value}" th:text="${smallType.getTypeName()}+' | '">桂花糕</a> 
						</div> -->
					</div>
				</div>

				<div class="am-g am-g-fixed floodSix ">
					<div class="am-u-sm-5 am-u-md-3 text-one list">
						<img src="../images/5.jpg" />
						<div class="triangle-topright"></div>
					</div>

					<div class="am-u-sm-7 am-u-md-5 am-u-lg-2 text-two big">
						<div class="outer-con ">
							<div class="title " th:text="${entry1.key.typeName}"></div>
							<div class="sub-title "></div>
							
						</div>
						<img alt="" th:src="${entry1.key.imgUrl}">
					</div>
					<ul>
						<li>
							<div class="am-u-md-2 am-u-lg-2 text-three" th:each="commodities:${entry1.value}">
								<div class="boxLi"></div>
								<div class="outer-con ">
									<div class="title " th:text="${commodities.getProductName()}">小优布丁</div>
									<div class="sub-title " th:text="'¥'+${commodities.getPrice()}">¥4.8</div>

								</div>
								<a th:href="@{/home/introduction(param=${commodities.getProductId()})}"><img th:src="${commodities.getImgUrl()}" /></a>
							</div>
						</li>
					</ul>
					<div class="clear "></div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="footer::footer"></div>
</body>
</html>