<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>搜索页面</title>

<link href="../AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet"
	type="text/css" />
<link href="../AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet"
	type="text/css" />

<link href="../basic/css/demo.css" rel="stylesheet" type="text/css" />

<link href="../css/seastyle.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="../basic/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="../js/script.js"></script>
<script type="text/javascript" src="../js/jquery.twbsPagination.js"></script>
<script type="text/javascript" src="../js/jquery.twbsPagination.min.js"></script>
</head>

<body>

	<div th:replace="header::header"></div>
	<div class="clear"></div>
	<b class="line"></b>
	<div class="search">
		<div class="search-list">
			<div class="nav-table">
				<div class="long-title">
					<span class="all-goods">全部分类</span>
				</div>
			</div>
			<div class="am-g am-g-fixed">
				<div class="am-u-sm-12 am-u-md-12">
					<div class="theme-popover"></div>
					<div class="search-content">
						<div class="clear"></div>

						<ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 boxes" >
							<li th:each="commodity:${commodities}">
								<div class="i-pic limit">
									<a th:href="@{/home/introduction(param=${commodity.productId})}"><img th:src="${commodity.imgUrl}" /></a>
									<p class="title fl" th:text="${commodity.productName}">【良品铺子旗舰店】手剥松子218g 坚果炒货零食新货巴西松子包邮</p>
									<p class="price fl">
										<b>¥</b> <strong th:text="${commodity.price}">56.90</strong>
									</p>
									<p class="number fl">
										销量<span>1110</span>
									</p>
								</div>
							</li>
						</ul>
					</div>
					
					<div class="clear"></div>
					<!--分页 -->
					<ul id="pagination-demo" class="am-pagination am-pagination-right" style="float: right;"></ul>

				</div>
			</div>
			<div th:replace="footer::footer"></div>
		</div>

	</div>
	<script>
		window.jQuery|| document.write('<script src="basic/js/jquery-1.9.min.js"><\/script>');
	</script>
	<script type="text/javascript" src="../basic/js/quick_links.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$('#pagination-demo').twbsPagination({
	        totalPages:[[${totalPage}]],
	        startPage: [[${pageNo+1}]],
	        visiblePages: 4,
	        initiateStartPageClick:false,
	        onPageClick: function (event, page) {
	            $('#page-content').text('Page ' + page);
	          	window.location.href="/home/do_search?name=[[${name}]]&pageNo="+page;
	        }
	    });
	});
	</script>

	<div class="theme-popover-mask"></div>

</body>

</html>